WC_URL=https://cms.dripmarketua.store
WC_KEY=ck_your_read_only_woocommerce_key
WC_SECRET=cs_your_read_only_woocommerce_secret
WC_WRITE_KEY=ck_your_temporary_read_write_key
WC_WRITE_SECRET=cs_your_temporary_read_write_secret
WAYFORPAY_MERCHANT_ACCOUNT=your_merchant_account
WAYFORPAY_MERCHANT_SECRET=your_merchant_secret
WAYFORPAY_DOMAIN=your_store_domain
