NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-02-19
SANITY_REVALIDATE_SECRET=your_random_webhook_secret
SANITY_API_TOKEN=your_temporary_editor_token_for_migration
# Only needed while running the WooCommerce migration script:
WC_URL=https://cms.dripmarketua.store
WC_READ_KEY=ck_your_read_only_key
WC_READ_SECRET=cs_your_read_only_secret
NOVA_POSHTA_API_KEY=your_nova_poshta_api_key
FOP_PAYMENT_DETAILS=your_fop_payment_details
FOP_PAYMENT_URL=https://bank.gov.ua/qr/your_fop_qr_code
CRYPTO_TRC20_WALLET=your_trc20_wallet
